@if (this.TempData.ContainsKey("_frontsofaalert"))
{                
        <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        @this.TempData["_frontsofaalert"]</div>
}  